@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --divider: hsl(240, 5%, 91%);
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  background-image: linear-gradient(
    to bottom,
    var(--soft-violet),
    var(--soft-blue)
  );
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
}

h3 {
  font-weight: 400;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.section {
  margin: 0 auto;
  width: 100%;
  background-color: white;
  padding: 12rem 2rem 2rem 2rem;
  border-radius: 1.5rem;
  margin-top: 5rem;
  position: relative;
}

.image__woman {
  position: absolute;
  top: -11rem;
  right: 4.5rem;
  z-index: 9999;
}

.image__pattern {
  position: absolute;
  top: -1rem;
  right: 5rem;
  z-index: 99;
}

.image__desktop-pattern {
  display: none;
}

/* Info */
.info__question {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
}

.info__details {
  margin-top: 1.5rem;
  width: 80%;
  display: none;
}

hr {
  border: solid 0.01rem;
  color: var(--divider);
  margin: 1.5rem 0;
}

/* Tablet Media Querry */

@media (min-width: 768px) {
  .section {
    padding: 12rem 5rem 2rem 5rem;
  }

  .image__woman {
    right: 24rem;
  }

  .image__pattern {
    right: 24rem;
  }
}

/* Desktop Media Querry */

@media (min-width: 1024px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    padding: 7rem 7rem 5rem 0;
  }

  h1 {
    text-align: left;
  }

  .info {
    border: solid;
  }

  .image__woman {
    position: absolute;
    width: 50%;
    top: 5rem;
    left: -10rem;
  }

  .image__pattern {
    display: none;
  }

  .image__desktop-pattern {
    position: absolute;
    width: 45%;
    top: -2rem;
    left: -10rem;
  }
}
